Source: openssh
Maintainer: Igor Savlook <isav@alzari.pw>
Section: net
Priority: standard
Build-Depends:
    debhelper (>= 13.1~),
    debhelper-compat (= 13),
    dpkg-dev (>= 1.16.1~),
    libaudit-dev [linux-any],
    libedit-dev,
    libfido2-dev (>= 1.5.0) [linux-any],
    libkrb5-dev | heimdal-dev,
    libpam0g-dev | libpam-dev,
    libselinux1-dev [linux-any],
    libssl-dev (>= 1.1.0g),
    libsystemd-dev [linux-any] | libelogind-dev [linux-any],
    pkg-config,
    zlib1g-dev,
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: openssh-client
Architecture: any
Multi-Arch: foreign
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    adduser,
    passwd,
Conflicts:
    sftp,
Breaks:
    openssh-sk-helper,
Replaces:
    openssh-sk-helper,
    ssh,
    ssh-krb5,
Provides:
    rsh-client,
    ssh-client,
Description: Secure Shell (SSH) client, for secure access to remote machines
 This is the portable version of OpenSSH, a free implementation of
 the Secure Shell protocol as specified by the IETF secsh working
 group.
 .
 Ssh (Secure Shell) is a program for logging into a remote machine
 and for executing commands on a remote machine.
 It provides secure encrypted communications between two untrusted
 hosts over an insecure network. X11 connections and arbitrary TCP/IP
 ports can also be forwarded over the secure channel.
 It can be used to provide applications with a secure communication
 channel.
 .
 This package provides the ssh, scp and sftp clients, the ssh-agent
 and ssh-add programs to make public key authentication more convenient,
 and the ssh-keygen, ssh-keyscan, ssh-copy-id and ssh-argv0 utilities.
 .
 In some countries it may be illegal to use any encryption at all
 without a special permit.
 .
 ssh replaces the insecure rsh, rcp and rlogin programs, which are
 obsolete for most purposes.

Package: openssh-server
Priority: optional
Architecture: any
Multi-Arch: foreign
Pre-Depends:
    ${misc:Pre-Depends}
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    adduser,
    libpam-modules,
    libpam-runtime,
    openssh-client (= ${binary:Version}),
    openssh-sftp-server,
    procps,
    ucf,
Conflicts:
    sftp,
    ssh-socks,
    ssh2,
Replaces:
    openssh-client (<< 1:7.9p1-8),
    ssh,
    ssh-krb5,
Provides:
    ssh-server,
Description: Secure Shell (SSH) server, for secure access from remote machines
 This is the portable version of OpenSSH, a free implementation of
 the Secure Shell protocol as specified by the IETF secsh working
 group.
 .
 Ssh (Secure Shell) is a program for logging into a remote machine
 and for executing commands on a remote machine.
 It provides secure encrypted communications between two untrusted
 hosts over an insecure network. X11 connections and arbitrary TCP/IP
 ports can also be forwarded over the secure channel.
 It can be used to provide applications with a secure communication
 channel.
 .
 This package provides the sshd server.
 .
 In some countries it may be illegal to use any encryption at all
 without a special permit.
 .
 sshd replaces the insecure rshd program, which is obsolete for most
 purposes.

Package: openssh-sftp-server
Priority: optional
Architecture: any
Multi-Arch: foreign
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
Breaks:
    openssh-server (<< 1:6.5p1-5),
Replaces:
    openssh-server (<< 1:6.5p1-5),
Enhances:
    openssh-server,
    ssh-server,
Description: Secure Shell (SSH) sftp server module, for SFTP access from remote machines
 This is the portable version of OpenSSH, a free implementation of
 the Secure Shell protocol as specified by the IETF secsh working
 group.
 .
 Ssh (Secure Shell) is a program for logging into a remote machine
 and for executing commands on a remote machine.
 It provides secure encrypted communications between two untrusted
 hosts over an insecure network. X11 connections and arbitrary TCP/IP
 ports can also be forwarded over the secure channel.
 It can be used to provide applications with a secure communication
 channel.
 .
 This package provides the SFTP server module for the SSH server. It
 is needed if you want to access your SSH server with SFTP. The SFTP
 server module also works with other SSH daemons like dropbear.
 .
 OpenSSH's sftp and sftp-server implement revision 3 of the SSH filexfer
 protocol described in:
 .
   http://www.openssh.com/txt/draft-ietf-secsh-filexfer-02.txt
 .
 Newer versions of the draft will not be supported, though some features
 are individually implemented as extensions.
